<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.zhangtianzhu.surveyinginstrumentsdemo">
    <!--
其中，权限1在得到默认蓝牙适配器时需要，即BluetoothAdapter
mBluetoothAdapter=BluetoothAdapter.getDefaultAdapter( )
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 权限2在mBluetoothAdapter.enable( )或者mBluetoothAdapter.disable( ) 时需要使用到。 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 如果Android6.0 蓝牙搜索不到设备，需要补充下面两个权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 让应用只支持蓝牙4.0可以进行以下配置 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.bluefourth.BlueToothFourthScanActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DeviceScanActivity"></activity>
        <activity android:name=".activity.DeviceControlActivity"></activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.BlueToothFourthActivity" />
        <activity
            android:name=".activity.BluetoothServerSocketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BluetoothReceiverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".utils.BluetoothLeService" />
    </application>

</manifest>